@import 'styles/variables';

* {
  margin: 0;
}

html {
  background: $yellow-gradient;
}

body {
  font-family: $karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  width: 100%;

  line-height: 1.3125;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

h2 {
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

h3 {
  font-family: $karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

h4 {
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

h5 {
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

h6 {
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

p {
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

#root {
  width: 100%;
  // max-width: 1920px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
