@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Karla-Regular.ttf') format('ttf');
}
@font-face {
  font-family: $font-family;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Karla-Italic.ttf') format('ttf');
}
@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Karla-Bold.ttf') format('ttf');
}
@font-face {
  font-family: $font-family;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Karla-BoldItalic.ttf') format('ttf');
}
