@font-face {
  font-family: $karla;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Karla-Regular.ttf') format('truetype');
}
@font-face {
  font-family: $karla;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Karla-Italic.ttf') format('truetype');
}
@font-face {
  font-family: $karla;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/Karla-Bold.ttf') format('truetype');
}
@font-face {
  font-family: $karla;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/Karla-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: $source-sans-pro;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: $source-sans-pro;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: $source-sans-pro;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}
