.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  padding-left: 144px;

  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.cover {
  display: flex;
  flex-direction: column;
  width: 506px;
}

.title {
  margin-bottom: 64px;

  &:first-child {
    margin-top: 128px;
  }
}

.banner {
  margin-top: 108px;
}

.bold {
  font-weight: 700;
}

.cloudBig {
  position: absolute;
  height: 164px;
  width: 343px;

  top: 7%;
  left: 62%;
}
.cloudSmall {
  position: absolute;
  height: 107px;
  width: 223px;

  top: 39%;
  left: 41%;
}
.pikachu {
  position: absolute;
  height: 647px;
  width: 647px;
  z-index: 100;

  top: 11%;
  left: 39%;
}
.pokeball1 {
  position: absolute;
  height: 167px;
  width: 166px;

  top: 12%;
  left: 46%;
}
.pokeball2 {
  position: absolute;
  z-index: 100;
  height: 316px;
  width: 210px;

  top: 16%;
  right: 0;
}
