@import 'styles/variables';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 93px;
  padding: 0 144px;
  z-index: 100;
}

.logo {
  flex: 0.8 1 0;
  cursor: pointer;
}

.nav {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 0;

  &_item {
    padding-bottom: 16px;
    cursor: pointer;

    &-active {
      font-weight: bold;
    }
  }
}
