.root {
  padding-left: 128px;
  padding-right: 188px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: calc(34px + 22px);
}

.item {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  cursor: pointer;
}
